@import "../core/variables.scss";
@import "../core/functions.scss";
@import "../core/mixins.scss";

.btn--green {
  @include button-style-green
}

.btn--white {
  color: $grayish-violet;
  background-color: transparent;
  border: none;
}
