@import "../core/variables.scss";
@import "../core/functions.scss";

.btn--green {
  background-color: $cyan;
  color: white;
}

.btn--white {
  color: $grayish-violet;
}

.btn--green,
.btn--white {
  border: none;
}
