@import "../core/variables.scss";
@import "../core/functions.scss";
@import "../core/mixins.scss";

.header {
  font-family: $font-rubik;
  padding: rem(30) 0 0 0;
  &__logo {
    display: flex;
    align-items: center;
    img {
      height: rem(28);
    }
  }
  &__nav {
    display: flex;
    align-items: center;
    &__item {
      display: inline;
      padding: 0 rem(15);
      font-weight: 700;
      color: $grayish-violet;
    }
    ul {
      margin: 0;
      padding: 0;
    }
  }
  &__profile {
    display: flex;
    justify-content: flex-end;
    &__signupbtn,
    &__loginbtn {
      border-radius: rem(30);
      padding: rem(10) rem(20);
    }
  }
}
