@import "../core/variables.scss";
@import "../core/functions.scss";
@import "../core/mixins.scss";

.shorten {
  font-family: $font-rubik;
  background-color: $dark-violet;
  background-size: cover;

  @include mobil() {
    padding: rem(20) rem(20) 0 rem(20);
  }

  @include tablet() {
    padding: rem(50);
  }
  border-radius: rem(10);
  &__section {
    @include mobil() {
      padding: 0 1rem;
    }
    @include tablet() {
      padding: 0;
    }
  }
  &__form {
    display: flex;
    @include mobil() {
      flex-direction: column;
    }
    @include tablet() {
      flex-direction: row;
    }
    &__input {
      @include mobil() {
        width: 100%;
        margin: 0 0 rem(20) 0;
        padding: rem(20);
      }
      @include tablet() {
        width: 85%;
        margin-right: rem(18);
        margin-bottom: 0;
        padding: rem(0);
      }
    }
    &__btn {
      @include mobil() {
        width: 100%;
        margin: 0 0 rem(20) 0;
        padding: rem(20);
      }
      @include tablet() {
        width: 15%;
        padding: rem(10) 0;
        margin-bottom: 0;
      }
      @include desktop() {
        padding: rem(20) 0;
      }
      border-radius: rem(10);
      font-weight: 700;
    }
  }
}

.link {
  background-color: white;
  margin: rem(8) 0 rem(8) 0;
  padding: rem(10);
  font-family: $font-rubik;
  border-radius: rem(10);
  &__item {
    display: flex;
    @include mobil() {
      flex-direction: column;
    }
    @include tablet() {
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
    }
    padding: rem(10);
    p {
      margin: 0;
    }
    &__shorted {
      color: $cyan;
    }
    &__btn {
      padding: rem(8) rem(30);
      border-radius: rem(10);
    }
  }
}

.shorten,
.link {
  position: relative;
  @include mobil() {
    top: -5.5rem;
  }

  @include tablet() {
    top: -4.5rem;
  }
}
