@import "../core/variables.scss";
@import "../core/functions.scss";
@import "../core/mixins.scss";

.bg--gray {
  background-color: $gray;
}

.bg--violet {
  background-color: $dark-violet;
}

.hero {
  font-family: $font-rubik;
  padding: rem(30) 0;
  @include mobil() {
    min-height: 68vh;
    flex-direction: column-reverse;
    justify-content: flex-end;
  }
  @include tablet() {
    min-height: 40vh;
    flex-direction: row;
    justify-content: flex-start;
  }
  @include desktop() {
    min-height: 80vh;
  }
  &__info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    @include mobil() {
      text-align: center;
      align-items: center;
      padding: rem(50) 0 0 0;
    }
    @include tablet() {
      text-align: left;
      align-items: unset;
      padding: 0;
    }
    &__title {
      color: $very-dark-violet;
      font-weight: 700;
    }
    &__subtitle {
      color: $grayish-violet;
      margin-bottom: rem(15);
    }
    &__btn {
      width: rem(180);
      border-radius: rem(30);
      padding: rem(10) 0;
    }
  }
  &__image {
    display: flex;
    align-items: center;
    justify-content: center;
    img {
      width: 100%;
    }
  }
}

.advanced {
  font-family: $font-rubik;
  padding: 0 0 rem(60) 0; 
  &__info {
    text-align: center;
    &__title {
      font-weight: 700;
      color: $very-dark-violet;
    }
    &__description {
      font-weight: 500;
      color: $grayish-violet;
    }
  }
}

.characteristic {
  font-family: $font-rubik;
  padding: 0 0 rem(60) 0; 
  position: relative;
  .line--green {
    position: absolute;
    top: 35%;
    z-index: 1;
    height: rem(10);
    color: $cyan;
    opacity: 1;
    transform: translate(-50%, -50%);
    left: 50%;
    width: 80%;
    @include mobil() {
      opacity: 0;
    }
    @include tablet() {
      opacity: 1;
    }
  }
  .card {
    &-one {
      padding-top: 0;
      position: relative;
      z-index: 100;
    }
    &-two {
      padding-top: rem(35);
      position: relative;
      z-index: 100;
    }
    &-three {
      padding-top: rem(70);
      position: relative;
      z-index: 100;
    }
  }
  &__section {
    @include mobil() {
      padding: 0 1rem;
    }
    @include tablet() {
      padding: 0;
    }
  }
  &__card {
    @include mobil() {
      text-align: center;
      padding: 0 rem(35) rem(35) rem(35);
      margin-top: rem(30);
    }
    @include tablet() {
      padding: rem(10) rem(20);
      margin-top: rem(0);
      text-align: left;
    }
    @include desktop() {
      padding: rem(10) rem(30);
    }

    background-color: white;
    .circle {
      width: rem(80);
      height: rem(80);
      -moz-border-radius: 50%;
      -webkit-border-radius: 50%;
      border-radius: 50%;
      background: $dark-violet;
      position: relative;
      @include mobil() {
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
      @include tablet() {
        top: -2.5rem;
        left: unset;
        transform: unset;
      }
    }
    &__image {
      display: flex;
      justify-content: center;
      align-items: center;
      img {
        height: 50%;
      }
    }
    &__title {
      font-weight: 700;
    }
    &__description {
      font-weight: 500;
      color: $grayish-violet;
    }
  }
}

.section__started {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.started {
  font-family: $font-rubik;
  &__info {
    @include mobil() {
      min-height: 25vh;
    }
    @include desktop() {
      min-height: 35vh;
    }
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    &__title {
      color: white;
      font-weight: 700;
      margin-bottom: rem(20);
    }
    &__btn {
      max-width: rem(180);
      border-radius: rem(30);
      padding: rem(10) rem(20);
    }
  }
}
