@import "../core/variables.scss";
@import "../core/functions.scss";
@import "../core/mixins.scss";

.bg--gray {
  background-color: $gray;
}

.bg--violet {
  background-color: $dark-violet;
}

.hero {
  font-family: $font-rubik;
  padding: rem(30) 0;
  @include tablet() {
    min-height: 30vh;
  }

  @include desktop() {
    min-height: 50vh;
  }
  &__info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    &__title {
      color: $very-dark-violet;
      font-weight: 700;
    }
    &__subtitle {
      color: $grayish-violet;
      margin-bottom: rem(15);
    }
    &__btn {
      max-width: rem(180);
      border-radius: rem(30);
      padding: rem(10) 0;
    }
  }
  &__image {
    display: flex;
    align-items: center;
    justify-content: center;
    img {
      width: 100%;
    }
  }
}

.advanced {
  font-family: $font-rubik;
  @include desktop() {
    min-height: 50vh;
  }
  @include desktoplg() {
    min-height: 40vh;
  }
  position: relative;
  bottom: -10rem;
  &__info {
    text-align: center;
    &__title {
      font-weight: 700;
      color: $very-dark-violet;
    }
    &__description {
      font-weight: 500;
      color: $grayish-violet;
    }
  }
}

.characteristic {
  font-family: $font-rubik;
  @include desktop() {
    min-height: 60vh;
  }
  @include desktoplg() {
    min-height: 50vh;
  }
  position: relative;
  .line--green {
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    height: rem(10);
    width: 80%;
    color: $cyan;
    opacity: 1;
  }
  .card {
    &-one {
      padding-top: 0;
      position: relative;
      z-index: 100;
    }
    &-two {
      padding-top: rem(35);
      position: relative;
      z-index: 100;
    }
    &-three {
      padding-top: rem(70);
      position: relative;
      z-index: 100;
    }
  }
  &__card {
    padding: rem(10) rem(30);
    background-color: white;
    .circle {
      width: rem(80);
      height: rem(80);
      -moz-border-radius: 50%;
      -webkit-border-radius: 50%;
      border-radius: 50%;
      background: $dark-violet;
      position: relative;
      top: -2.5rem;
    }
    &__image {
      display: flex;
      justify-content: center;
      align-items: center;
      img {
        height: 50%;
      }
    }
    &__title {
      font-weight: 700;
    }
    &__description {
      font-weight: 500;
      color: $grayish-violet;
    }
  }
}

.section__started {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.started {
  font-family: $font-rubik;
  &__info {
    min-height: 35vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    &__title {
      color: white;
      font-weight: 700;
      margin-bottom: rem(20);
    }
    &__btn {
      max-width: rem(180);
      border-radius: rem(30);
      padding: rem(10) rem(20);
    }
  }
}
